.card {
    & {
    }
    &__item {
        padding: 1rem;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 1rem;
        border: 1px solid black;
        color: transparent;
    }
    &_status{
        &-preview,
        &-guessed{
            color: wheat;
            background: red;
        }
        &-selected{
            border: 4px solid black;
        }
    }
}
